@using BusinessLogicLayerFront.DTOs
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.unobtrusive-ajax/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="~/css/loadproject.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img style="width: 100px" src="https://shopeefood.vn/app/assets/img/shopeefoodvn.png?4aa1a38e8da801f4029b80734905f3f7" alt="Shopee Food" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between;">
                    <ul class="navbar-nav mr-auto category-list">
                        <li class="address nav-item">
                            <select class="nav-link text-dark" id="provinceSelect" onchange="OnProvinceChange()">
                                @{
                                    var provSessionJson = Context.Session.GetString("provSession");
                                    if (!string.IsNullOrEmpty(provSessionJson))
                                    {
                                        var provSession = JsonConvert.DeserializeObject<List<ProvinceDto>>(provSessionJson);

                                        foreach (var province in provSession)
                                        {
                                        // Assuming province.Quantity exists
                                            <option value="@province.Id" data-name="@province.Name">@province.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </li>
                        @{
                            var cateSessionJson = Context.Session.GetString("cateSession");
                            if (!string.IsNullOrEmpty(cateSessionJson))
                            {
                                var cateSession = JsonConvert.DeserializeObject<List<CategoryDto>>(cateSessionJson);
                                    @for (var index = 0; index < cateSession.Count; index++)
                                {
                                        <li id="item-@cateSession[index].Id" class="nav-link text-dark category-link" data-index="@cateSession[index].Id" data-name="@cateSession[index].Name" onclick="handleItemClick(@cateSession[index].Id, @cateSession[index].Name)">
                                            @cateSession[index].Name
                                        </li>
                                }
                            }
                        }
                    </ul>

                    <ul class="navbar-nav" style="width: 20%;">
                        @{
                            var userCheckJson = Context.Session.GetString("userCheck");

                            if (!string.IsNullOrEmpty(userCheckJson))
                            {
                                var userCheck = JsonConvert.DeserializeObject<UserDto>(userCheckJson);
                                var avatarUrl = !string.IsNullOrEmpty(userCheck.Avatar)
                                ? userCheck.Avatar
                                : "https://down-bs-vn.img.susercontent.com/vn-11134523-7r98o-ltks4aztc8wad6.webp";

                                <li class="nav-item d-flex align-items-center user-content" style="white-space: nowrap; width: 70%;" id="userDropdown">
                                    <div style="display: flex; overflow: hidden; text-overflow: ellipsis;">
                                        <div>
                                            <img src="@avatarUrl"
                                                 alt=""
                                                 style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%;"
                                                 onerror="this.onerror=null; this.src='https://down-bs-vn.img.susercontent.com/vn-11134523-7r98o-ltks4aztc8wad6.webp';" />
                                        </div>
                                        <span class="nav-link text-dark" style="overflow: hidden; text-overflow: ellipsis;" title="@userCheck.FullName">@userCheck.FullName</span>
                                    </div>
                                </li>

                                <div id="userMenu" class="dropdown-menu" style="display: none; ">
                                    <li style="display: flex; align-items: center; padding: 5px 10px;">
                                        <i class="fas fa-history" style="margin-right: 10px;"></i>
                                        <div><a asp-controller="Order" asp-action="OrderHistory" style="text-decoration: none; color: black">Order History</a></div>
                                    </li>
                                    <li style="display: flex; align-items: center; padding: 5px 10px;">
                                        <i class="fas fa-user-edit" style="margin-right: 10px;"></i>
                                        <div><a asp-controller="User" asp-action="EditAccount" style="text-decoration: none; color: black">Edit Account</a></div>
                                    </li>
                                </div>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="login nav-link text-danger" asp-controller="User" asp-action="Login">Login</a>
                                </li>
                            }
                        }
                    </ul>

                </div>

            </div>
        </nav>
    </header>
    <div class="main-body" style="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center text-lg-start" style="">
        <div class="container p-4">
            <hr />
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Company</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#" class="" style="">About us</a></li>
                        <li><a href="#" class="" style="">Help center</a></li>
                        <li><a href="#" class="" style="">Term and condition</a></li>
                        <li><a href="#" class="" style="">Terms of service</a></li>
                        <li><a href="#" class="" style="">Information security</a></li>
                        <li><a href="#" class="" style="">Adjustmation of claims</a></li>
                        <li><a href="#" class="" style="">Contact us</a></li>
                        <li><a href="#" class="" style="">Partner</a></li>
                        <li><a href="#" class="" style="">Shopee Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">ShopeeFood App</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><img style="width: 140px" src="~/image/logoappstore.png" /></a></li>
                        <li><a href="#"><img style="width: 140px; margin: 20px 0;" src="~/image/logoggplay.jpg" /></a></li>
                        <li><a href="#"><img style="width: 140px" src="https://www.sanlamreality.co.za/wp-content/uploads/2022/10/App-gallery-icon_999999x200_8.png" /></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <img style="width: 140px" src="https://shopeefood.vn/app/assets/img/Logo-ShopeefoodVN.png?a233b36c37415f85f46c25a6cd0963aa" />
                    <p>© 2024 ShopeeFood</p>
                    <div class="icon-face-instar" style="">
                        <a style="" href="https://www.facebook.com/shopeefoodvn" title="Facebook">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a style="" href="https://www.instagram.com/shopeefood_vn/" title="Instagram">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Company</h5>
                    <p>
                        Foody Joint Stock Company<br />
                        G Floor, Jabes 1 Building,<br />
                        244 Cong Quynh Street, Pham Ngu Lao Ward, District 1, HCMC<br />
                        Business Registration Certificate No.: 0311828036<br />
                        issued by the Department of Planning and <br />Investment of HCMC on June 11, 2012,<br />
                        amended for the 23rd time, on December 10, 2020<br />
                        Responsible for content management: Nguyen Ho Quang Giang<br />
                        Contact phone number: 028 71096879<br />
                        Email: <a href="#">support@shopeefood.vn</a><br />
                        <img style="width: 100px" src="https://shopeefood.vn/app/assets/img/gov_seals1.jpg?4534b28245a7aad9805fbddc90f873d8" />
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var userCheckJson = @Html.Raw(JsonConvert.SerializeObject(userCheckJson));
            if (userCheckJson) {
                var userCheck = JSON.parse(userCheckJson);
                localStorage.setItem("userCheck", JSON.stringify(userCheck));
            } 
            else {
                localStorage.removeItem("userCheck");
            }
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>


<script src="~/js/loadproject.js" asp-append-version="true"></script>