@model BusinessLogicLayerFront.DTOs.ProductDetailDto
@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<link href="~/css/productdetail.css" rel="stylesheet" />

<div class="container">
    <h1 class="display-4">Details</h1>



    <div class="mt-5 bg-white detail" id="detailSection" style="">
        <img style="max-width: 480px" src="@Model.ProductImage" alt="@Model.ProductName" />
        <div style="">
            <p class="link-address" style="">Home >> @Model.ProvinceName >> @Model.ProductName - @Model.StreetName</p>
            <div class="bistro"><span style="">BISTRO</span><span style=""> Branch</span></div>
            <div class="product-name"><span style="">@Model.ProductName - @Model.StreetName</span></div>
            <div class="product-address"><span style="">@Model.StreetName, @Model.WardName, @Model.DistrictName, @Model.ProvinceName</span></div>
            <div style="display:flex; font-size: 14px;">
                <div style="color: #ffc107">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

                <div class="number-comment"><span style="padding-left: 3px;">999+</span></div>
                <div style=""><span style="padding-left: 3px">reviews on ShopeeFood</span></div>
            </div>
            <div style=""><a href="#" style="padding-left: 3px; text-decoration: none; font-size: 14px; color: #0288d1">View reviews on Foody</a></div>
            <div style=""><span style="padding-left: 3px; text-decoration: none; color: #6cc942; font-size: 15px">Open</span> <span style="margin-left: 20px; font-size: 15px"><i class="far fa-clock" style="margin-right: 10px"></i>@Model.StoreOpenTime.ToString(@"hh\:mm") - @Model.StoreCloseTime.ToString(@"hh\:mm")</span></div>

            <div style="font-size: 15px"><span style=""><i class="fas fa-dollar-sign"></i> @((int)(Model.ProductPrice / 5)).000 - @((int)(Model.ProductPrice)).000</span></div>

            <br />
            <hr />
            <div style="display: flex">
                <div style="margin-right: 40px; width: 50%">
                    <div style="font-size: 13px">SERRVICE FEE</div>
                    <div style="color: #ee4d2d; font-weight: bold; font-size: 14px">0.0% Service fee</div>
                </div>
                <div style="margin-right: 40px">
                    <div style="font-size: 13px">SERRVICE BY</div>
                    <div style="color: #ee4d2d; font-weight: bold; font-size: 14px">ShopeeFood</div>
                </div>
            </div>
        </div>

    </div>



    <div style="margin-top: 50px">
        <div style="display: flex">
            <div class="left-menu" id="leftMenu" style="">
                <h4 style="color:red">MENU</h4>
                <div style="padding: 10px" title="Boneless chicken feet"><a href="#section1" style="">Boneless chicken feet</a></div>
                <div style="padding: 10px" title="Boneless chicken feet"><a href="#section2" style="">Whole Chicken Feet</a></div>
                <div style="padding: 10px" title="Boneless chicken feet"><a href="#section3" style="">Promotion combo</a></div>
            </div>

            <div class="content" style="box-sizing: border-box">
                <div style="padding: 20px">
                    <div style="" id="section1"><a href="" style="text-transform: uppercase; text-decoration: none; color: gray">Boneless chicken feet</a></div>
                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size M (Large box)">
                                    Boneless Thai Chicken Feet - Size M (Large box)
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    @Model.ProductDescription
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 3)).000<sup>đ</sup>
                                </span>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span ><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="10px; font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />

                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size L">
                                    Boneless Thai Chicken Feet - Size L
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    @Model.ProductDescription
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 5)).000
                                </span><sup>đ</sup>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />


                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size M (Large box)">
                                    Boneless Thai Chicken Feet
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    @Model.ProductDescription
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 5)).000
                                </span><sup>đ</sup>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="10px; font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />


                    <div style="" id="section2"><a href="" style="text-transform: uppercase; text-decoration: none; color: gray">Whole Chicken Feet</a></div>

                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size M (Large box)">
                                    Boneless Thai Chicken Feet - Size M (Large box)
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    Boneless chicken feet mixed with Thai sauce + special dipping sauce
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 5)).000
                                </span><sup>đ</sup>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="10px; font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />


                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size M (Large box)">
                                    Boneless Thai Chicken Feet - Size M (Large box)
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    Boneless chicken feet mixed with Thai sauce + special dipping sauce
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 5)).000
                                </span><sup>đ</sup>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="10px; font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />



                    <div style="" id="section3"><a href="" style="text-transform: uppercase; text-decoration: none; color: gray">Whole Chicken Feet</a></div>

                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size M (Large box)">
                                    Boneless Thai Chicken Feet - Size M (Large box)
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    Boneless chicken feet mixed with Thai sauce + special dipping sauce
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 5)).000
                                </span><sup>đ</sup>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="10px; font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />


                    <div style="margin-top: 20px; display: flex; align-items: center; box-sizing: border-box">
                        <img style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;" src="@Model.ProductImage" alt="@Model.ProductName" />
                        <div style="padding: 0 3%; width: 65%">
                            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                <span style="font-weight: bold; font-size: 16px;" title="Boneless Thai Chicken Feet - Size M (Large box)">
                                    Boneless Thai Chicken Feet - Size M (Large box)
                                </span>
                            </div>
                            <div>
                                <span style="font-size: 13px; color: #464646;">
                                    Boneless chicken feet mixed with Thai sauce + special dipping sauce
                                </span>
                            </div>
                        </div>
                        <div style="padding: 0 3%; display: flex; flex-direction: column; align-items: flex-end;">
                            <div>
                                <span style="text-decoration: line-through; color: #6d6f71; font-size: 13px;">
                                    @((int)(Model.ProductPrice / 5)).000
                                </span><sup>đ</sup>
                            </div>
                            <div>
                                <span style="color: #0288d1; font-size: 16px;">
                                    @((int)(Model.ProductPrice / 6)).000
                                </span><sup style="color: #0288d1;">đ</sup>
                            </div>
                        </div>
                        <div class="btn-adding" style="10px; font-size: 20px; cursor: pointer;">
                            +
                        </div>
                    </div>
                    <hr />
                </div>


            </div>

            <div class="right-menu" style="">
            </div>
        </div>

    </div>


</div>


<script src="~/js/productdetail.js" asp-append-version="true"></script>